* {
	padding: 0;
	margin: 0 auto;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
       url('../fonts/Gotham-Bold.ttf') format('truetype'),
       url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
       url('../fonts/Gotham-Book.ttf') format('truetype'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot');
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
       url('../fonts/Gotham-Black.ttf') format('truetype'),
       url('../fonts/Gotham-Black.woff') format('woff'),
       url('../fonts/Gotham-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



body{
     font-family: 'Gotham-Book';
}

a,
a:hover {
    text-decoration: none;
}


a.navbar-brand img {
    width: 170px;
    position: absolute;
    top: 0;
    z-index: 1;
    /* background: #fff; */
    padding: 0px 40px 0 0;
}
nav .navbar-nav {
    margin-right: 0;
}
nav.fixed {
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
    border-bottom: none;
    background: #fff;
}
@-webkit-keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

nav {
    
    padding: 24px 0 !important;
     background:#f2efe8;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all ease-in-out 0.3s;
    padding-right: 0;
    padding-left: 0;
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 35px;
        position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:after {
    content: '';
    width: 0%;
    background: #4ad3ae;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    transition: all ease-in-out 0.3s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    width: 100%;
}
.navbar-brand img {
    width: 200px;
}


.grey {
    background:#f2efe8;
}

.punchline p {
    color: rgb(255 255 255 / 73%);
}
.span {
    color: #adadad;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    display: block;
    margin-bottom: 16px;
}
.h4 {
    color: #1f2555;
    font-family: 'Gotham-Black';
    margin: 0;
    font-size: 50px;
    margin-bottom: 40px;
}

.h4 span{
    color:#4ad3ae;
}

p {
    color: #6c6c6b;
    font-size: 16px;
    line-height: 1.8;
}

.about p {
    margin-bottom:30px;
}

.about .col-lg-9.col-md-12 {
    margin: 0;
}
.about {
    position: relative;
}
.about .col-lg-3.col-md-12 {
    position: absolute;
    right: 0;
    top:0;
    padding-right: 0;
}

.pad80{
    padding:80px 0;
}

.btns {
    clip-path:polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
transition: all ease-in-out 0.4s;
    background: #1f2555;
    color: #fff;
    display: inline-block;
    padding: 15px 42px;
    border:none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.btns:hover{
    background:#4ad3ae;
    color:#fff;
}
.dotted {
    border-bottom: dotted 1px #afaaa2;
}

.choose-box .d-flex p {
    color: #000;
    font-family: 'Gotham-Black';
    margin: 0;
    line-height: 1.2;
}

.choose-box .d-flex {
    border-bottom: solid 9px #4ad3ae;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

.choose-box .d-flex:after {
    content: '';
    background: #1f2555;
    height: 9px;
    width: 0%;
    position: absolute;
    bottom: -9px;
    left: 0;
    transition: all ease-in-out 1s;
}

.choose-box:hover  .d-flex:after{
    width: 100%;
}
.choose-box span{
    margin:0;
}
.choose-box img {
    width: 40px;
}

.choose-box img.white_icon{
    display:none
}

.choose-box:hover img.color_icon  {
    display:none
}
.choose-box:hover .white_icon{
    display:block
}

.choose-box p {
    margin: 0;
}

.choose-wrapper .h4{
    margin-bottom:80px;
}
.mb-6 {
    margin-bottom: 70px;
}

.industries-wrapper .choose-box .d-flex {
    border: none;
    margin: 0;
    padding-bottom: 17px;
}

.industries-wrapper .d-flex:after {
    display:none;
}

.industries-wrapper .choose-box {
    background: #e8e4dd;
    clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 6%);
    padding: 50px;
    height: 416px;
    transition: all ease-in-out 0.4s;
}
.industries-wrapper .choose-box.mb-6.hght-fix {
    height: 300px;
        margin-bottom: 40px;
}

.industries-wrapper .choose-box:hover{
    background: #1f2555;
}

.industries-wrapper .choose-box:hover .d-flex p {
    color:#4ad3ae;
}

.industries-wrapper .choose-box:hover p {
    color: rgb(183 183 183);
}

.industries-wrapper .choose-box .d-flex p{
    color:#1f2555;
}

.services video{
    width:100%;
    margin-bottom:-5px;
}

.services .h4{
    color:#fff;
}
.services {
    position: relative;
    overflow: hidden;
}

.services .container {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    padding: 150px 0;
}
.services ul {
    list-style: none;
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 150px;
}

.services ul li {
    display: inline;
    margin: 0;
    border: solid 1px rgb(255 255 255 / 35%);
    width: 100%;
    padding: 30px;
    height: 170px;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.services ul li h6 {
    color: #ffffff9e;
    font-weight: 600;
    font-size: 15px;
}

.services ul li .hover-data p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    color: #cfcfcf;
}

.services ul li .hover-data {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    transform: translate(0px, 110px);
    
}

.services ul li div {
   transform: translate(0px, 40px);
    transition: all ease-in-out 0.5s;
}

.services ul li:hover div{
   transform: translate(0px, 0);
}

.services ul li:hover .hover-data{
    opacity: 1;
    transform: translate(0px, 0);
    visibility:visible
}


.services ul li:hover{
    background:#4ad3ae;
}

.services ul li:hover .hover-data p {
    color: #ebebeb;
}

.services ul li:hover h6{
    color:#fff;
} 

.partner_box .partner-logo img {
    width: 250px;
} 

.partner_box {
    position: relative;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    height: 400px;
}


.partner-data {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    padding: 70px;
    background: #1f2555;
   transition-property: -webkit-clip-path;
    transition-property: clip-path;
    transition-property: clip-path,-webkit-clip-path;
    transition-duration: .5s;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
}

.partner_box:hover .partner-data{
        -webkit-clip-path: circle(70.71068% at 50% 50%);
    clip-path: circle(70.71068% at 50% 50%);
}


.partner-data h5 {
    color: #4ad3ae;
    font-weight: 600;
    margin-bottom: 20px;
}

.partner-data p{
    color: #a5a5a5;
}

.partners .row{
    border-top: solid 1px #d3d3d3;
    border-bottom: solid 1px #d3d3d3;
}

.br-right{
        border-right: solid 1px #d3d3d3;
}


.benefits-box {
    position: relative;
    clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 6%);
    margin-bottom: 30px;
}

.partners-data {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #4ad3ae;
    padding: 40px;
    transform: translateY(100%);
    transition: all ease-in-out 0.5s;
}

.benefits-box:hover .partners-data{
    transform: translateY(0%);
}
.partners-data h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.partners-data p{
    color: #e7e7e7;
    margin:0;
}


.benefits .h4 {
    margin-bottom: 60px;
}

.head {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    background: #4ad3ae;
    padding: 16px;
}

.next{
    background-size:cover !important;
}

.next .h4{
    color:#fff;
}

.next .btns {
    background:#4ad3ae;
}

.next .btns:hover{
    color:#4ad3ae;
    background:#fff;
}

footer{
    background-size:cover!important;
}
footer .h4 {
    color: #fff;
    margin-bottom: 60px;
}
.small_menu {
    margin-bottom: 60px;
}
footer .span{
    color:#fff;
    font-size:16px;
}

.small_menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.small_menu ul li {
    margin: 0;
}

.small_menu ul li a {
    position: relative;
    color: #f3f3f3;
    font-size: 14px;
}

.small_menu ul li a:before {
    content: '';
    width: 0%;
    position: absolute;
    left: 0;
    height: 1px;
    background: #fff;
    bottom: -3px;
    transition: all ease-in-out 0.35s;
}

.small_menu ul li a:hover:before{
    width:100%;
}

.small_menu ul li a:after {
    content: '|';
    position: absolute;
    right: -30px;
}

.small_menu ul li:last-child a:after{
    display:none;
}

.address p, .address a {
    color: #f3f3f3;
    margin: 0;
    font-size: 15px;
}

.logo_footer i {
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
}
.logo_footer img {
    width: 150px;
    display: block;
    margin: 0 0 130px 0;
}

.logo_footer i:hover{
    background:#101d73;
    border: solid 1px #101d73;
}

.banner {
    height: calc(100vh - 85px);
    background-size: cover !important;
    margin-top: 85px;
}
.banner .span {
    margin-bottom: 4px;
    font-size: 16px;
    letter-spacing: 2px;
    position:relative;
}

.banner .span:after {
    content: "";
    width: 50px;
    background: #adadad;
    height: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 18px;
}
.banner .h4{
    color:#fff;
    margin-bottom:12px;
}

.circle1 {
    width: 400px;
    height: 400px;
       border: dotted 1px #fff;
    border-radius: 50%;
    position:relative;
}

.banner .container, .banner .row{
    height:100%;
    overflow:hidden;
}

.circle-data .circle-img{
    display: block;
    position: absolute;
    
}
.circle-data .circle-img span {
    background: #fff;
    display: block;
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 50%;
    transition: all ease-in-out 0.5s;
}
.circle-data .circle-img{
       
    
}

.circle-img:hover span {
    background:#1f2555;
}

.circle-data .circle-img p {
    font-size: 13px;
    color: rgb(255 255 255 / 85%);
    margin: 0;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 6px;
}
.circle-data .circle-img.c1 {
    top: -50px;
    right: 0;
    left: 0;
    text-align: center;
}

.circle-data .circle-img.c2 {
    top: 120px;
    right: -69px;
    text-align: center;
}

.circle-data .circle-img.c3 {
    bottom: -30px;
    right: 0px;
    text-align: center;
}
.circle-data .circle-img.c4 {
    bottom: -30px;
    left: 0;
    text-align: center;
}

.circle-data .circle-img.c5 {
    top: 120px;
    left: -46px;
    text-align: center;
}



.circle-logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    /* border: dotted 1px #fff; */
    border-radius: 50%;
    padding: 16px;
}
.circle-logo svg {
    height: 150px;
    width: 150px;
    stroke: #fff;
    stroke-width: 0.2pt;
    stroke-dasharray: 0.25 1;
    stroke-dashoffset: 1;
    stroke-linecap: square;
    fill: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.bg-whites {
    background: #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.circle1 svg {
    width: 400px;
    height: 400px;
    stroke: #fff;
    stroke-width: 0.2pt;
    stroke-dasharray: 0.25 1;
    stroke-dashoffset: 1;
    stroke-linecap: square;
    fill: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
     opacity: 0.7;
    /* animation: rotate 1.4s linear infinite;
  -webkit-animation: rotate 1.4s linear infinite;
  -moz-animation: rotate 1.4s linear infinite;*/
}

/*@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}*/

button:focus {
    outline: none;
}
.fixed-top {
    z-index: 999999;
}


.circle-img {
      /*animation: circle 6s linear infinite;
        transform-origin: 50% 125px;*/
}


/*@keyframes circle{
  0%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  
  }
  100%{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
}
*/




.navbar-brand{
    margin:0;
}

.banner-circle {
    margin-top: 10px;
}

.inner-caption {
    display: flex;
    align-items: center;
    height: 100%;
}

.inner-caption > div{
    margin:0;
}
.jobs {
    padding: 40px 30px;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    border-top: 10px solid #4ad3ae;
    height: 370px;
}

.jobs:hover:after{
    width:100%;
}
.jobs:after {
    content: '';
    background:#1f2555;
    width:0%;
    position: absolute;
    top: -10px;
    transition: all ease-in-out 0.5s;
    left: 0;
    height: 10px;
}

.jobs .headline {
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    color: #adadad;
    font-weight:600;
}
.jobs h6 {
    color: #1f2555;
    font-size: 28px;
    margin-bottom: 30px;
        font-family: 'Gotham-Black';
}
.carrer_head .jobs p {
    color: #1f2555;
    font-size: 15px;
    margin: 0 0 11px 0;
    line-height: 1.6;
}

span.light {
    color: #adadad;
    margin-top: 60px;
    font-weight:600;
    display: block;
}
.career_wrapper .col-lg-6 {
    margin: 20px 0 40px;
}

.career_wrapper .row{
    margin-top:60px;
}

.resume_wrapper input {
    clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
    width: 100%;
    background: #fff;
    border: none;
    border-bottom: solid 1px #fff;
    padding: 16px 0;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border: solid 1px #ffffff;
    border-radius: 0;
    margin-bottom: 6;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    color: #000;
    padding: 20px;
}

textarea:focus {
    outline: none !important;
    border-color: transparent;
    box-shadow: none !important;
}

.resume_wrapper textarea{
    clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
    border: none;
     font-size: 14px;
    color: #000;
    padding: 30px;
}
.btn-file {
    font-size: 16px;
        position: relative;
        /*overflow: hidden;*/
        font-size: 12px;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        color:#1f2555;
        font-weight:600;
        padding-left:0;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #f46c21 !important;
    color: #fff !important;
    cursor: inherit;
    display: block;
}
span.file-name {
    font-size: 12px;
        display: flex;
    margin: 0;
}

.btn-file i {
    margin-right: 10px !important;
    background: #4ad3ae;
    font-weight:600;
    color:#fff;
    font-size: 15px;
    border-radius: 0%;
    width: 35px;
    height: 35px;
   /* -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}

input:focus{
    outline: none !important;
    border-color: transparent;
    box-shadow: none !important;
}

.resume_wrapper button.btns {
    padding: 19px 62px;
    clip-path: polygon(12% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
    cursor:pointer;
}


.carrer_head form.form-inline {
}
.carrer_head .form-inline .form-group {
    margin: 0;
    width: 40%;
}
.carrer_head .form-inline input.form-control {
    width: 100%;
    padding: 20px 20px;
    border-radius: 0;
        clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
    font-size: 16px;
    border:none;
}
.carrer_head .form-inline button {
    margin: 0;
    border-radius: 0;
        clip-path: polygon(0% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 28%);
    border: none;
    background-size: cover !important;
    cursor: pointer;
    padding: 22px;
}
.from-up {
    position: relative;
    top: -66px;
}

.carrer_head p {
    font-size: 16px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.choose_box {
    position: relative;
}

.chosse-bg {
    background-size: cover !important;
    height: 100vh;
    /* background-size: cover !important; */
}

.choose-caption {
    position: absolute;
    bottom: 0;
        height: 363px;
    padding: 50px 67px 73px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 230, 230, 0)), color-stop(1%, rgba(230, 230, 230, 0)), color-stop(39%, rgba(4, 4, 4, 0.41)), color-stop(64%, rgba(21, 21, 21, 0.92)), to(rgba(36, 36, 36, 0.98)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 1%, rgba(4, 4, 4, 0.41) 39%, rgba(21, 21, 21, 0.92) 64%, rgba(36, 36, 36, 0.98) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 1%, rgba(4, 4, 4, 0.41) 39%, rgba(21, 21, 21, 0.92) 64%, rgba(36, 36, 36, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 1%, rgba(4, 4, 4, 0.41) 39%, rgba(21, 21, 21, 0.74) 64%, rgba(36, 36, 36, 0.98) 100%);
}

.choose-caption strong, .choose-caption h3 {
    color: #ffff;
    font-size: 34px;
    position: relative;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-bottom: 10px;
    display: block;
}

.choose-caption p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    line-height: 1.6;
}

.chooseSection .row {
    margin: 0;
}
.chooseSection .col-lg-6 {
    padding: 0;
}

.leadership_box {
    margin: 0 15px;
    clip-path: polygon(6% 0, 100% 0, 100% 60%, 100% 99%, 0 100%, 0 63%, 0 6%);
}

.leadership_box img{
    transition: all ease-in-out 1s;
}

.leadership_box:hover img{
    transform:scale(1.2);
}

.leadership_box .overflow{
    overflow:hidden;
}
.leadership-slide .slick-list.draggable {
    margin: 0 -15px;
}
.leadership_box h5 {
    color: #1f2555;
    font-family: 'Gotham-Black';
    font-size: 17px;
    margin: 20px 0 0 0;
}
.leadership_box p{
    font-size:16px;
}
.contol_custom span.floor-left img {
    transform: rotate(180deg);
    
}
.contol_custom span img{
    width:50px;
    
}

.contol_custom .floor-left {
    right: 10px;
}
.contol_custom .floor-left img {
   position: relative;
    transition: all ease-in-out 0.5s;
    cursor:pointer;
    right:0;
}

.contol_custom .floor-right img {
     position: relative;
     cursor:pointer;
    transition: all ease-in-out 0.5s;
    left:0;
}


.contol_custom .floor-left:hover img {
    right: 20px;
}

.contol_custom .floor-right:hover img {
      left: 20px;
}
.copyright {
    background: #000066;
    text-align: center;
    padding: 5px 0;
}

.copyright p {
    margin: 0;
    color: rgb(255 255 255 / 77%);
    font-size: 12px;
}

.copyright p a{
     color:#fff;
}
.circle-data {
    animation: rotate 35s linear infinite;
    /* width: 380px; */
    /* height: 380px; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    /* background: red; */
    right: 0;
    border-radius: 50%;
}
/*.circle-img{
    animation: rotate 35s reverse linear infinite;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/
.inner_banner .container {
     position: relative;
}

.overlay{
     position: absolute;
     top:0;
     right:0;
     left:0;
     bottom:0;
     background:rgb(0 0 0 / 49%);
}

.career_wrapper .col-lg-4 {
    margin:0;
}

.mashUpSection {
    display: flex;
    flex-direction: column;
}

#mashButtons {
    margin: 10px;
    display: flex;
    justify-content: end;
    gap: 15px;
}