body, html {
    height: 100%;
    /* The image used */
    background-image: url("/images/banner.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    display: flex;
    justify-content: center;
    color: azure;
  }